.art
  display: block
  position: absolute
  max-width: unset

.art[data-id="1"]
  top: 124px
  left: 596.79px
  width: 3.70044rem
  height: 4.98256rem

.art[data-id="2"]
  top: 425px
  left: 60px
  width: 107px
  height: 85px

.art[data-id="3"]
  top: 658px
  left: 970px
  width: 8.21038rem
  height: 5.625rem

.art[data-id="4"]
  top: 703px
  left: 943px
  width: 3.19881rem
  height: 4.6875rem

.art[data-id="5"]
  top: 864px
  left: 509px
  width: 72px
  height: 91px

.art-group[data-id="1"]
  position: absolute
  top: 17.38rem
  left: 58.88rem

  .shadow1
    position: absolute
    top: 27rem
    left: -3.5rem

  .art[data-id="6"]
    left: 111px
    top: 50px
    width: 63px
    height: 101px

  .art[data-id="7"]
    left: 234px
    top: 179px
    width: 75px
    height: 90px

  .art[data-id="8"]
    left: 84px
    top: 258px
    width: 40px
    height: 107px

  .art[data-id="9"]
    left: 33px
    top: 21px
    width: 208px
    height: 437px

  .art[data-id="10"]
    left: 160px
    top: 163px
    width: 369px
    height: 421px
    width: 206px
    height: 377px

  .art[data-id="11"]
    left: 6px
    top: 264px
    width: 196px
    height: 326px

.art-group[data-id="2"]
  position: absolute
  top: 88.0rem
  left: -3rem
  width: 28rem
  height: 30rem
  clip-path: ellipse(100% 65% at 50% 50%)

  .art[data-id="12"]
    top: 0rem
    left: 77px
    width: 26.4375rem
    height: 30.75rem

  .art[data-id="13"]
    top: 41px
    left: 453px
    width: 3.80625rem
    height: 5.00825rem

.art[data-id="14"]
  top: calc(273px + 88rem)
  left: calc(-19px - 3rem)
  width: 115px
  height: 76px

.art[data-id="15"]
  top: calc(348px + 88rem)
  left: calc(80px - 3rem)
  width: 6.9375rem
  height: 6.25rem

.art[data-id="16"]
  top: calc(448px + 88rem)
  left: calc(349px - 3rem)
  width: 4.05406rem
  height: 5.6875rem

.art[data-id="17-1"]
  top: 127.5rem
  left: calc(81px - 3rem)
  width: 259px
  height: 107px

.art[data-id="17-2"]
  top: 132.2rem
  left: calc(69px - 3rem)
  width: 245px
  height: 111px

.art-group[data-id="3"]
  position: absolute
  top: 116.5rem
  left: 56.38rem
  width: 360px
  height: 280px
  clip-path: ellipse(100% 75% at 50% 50%)

  .art[data-id="18"]
    top: 0rem
    left: 190px
    width: 108px
    height: 95px
    // aspect-ratio: 63.15/91.00

  .art[data-id="21"]
    top: 34px
    left: 48px
    width: 316px
    height: 219px

.art[data-id="19"]
  top: calc(136px + 108.62rem + 7.95rem)
  left: calc(0rem + 56.38rem)
  width: 113px
  height: 57px
  // aspect-ratio: 66.78/52.17

.art[data-id="20"]
  top: calc(166px + 108.62rem + 7.95rem)
  left: calc(91px + 56.38rem)
  width: 1.13731rem
  height: 4.26625rem
  // aspect-ratio: 18.20/68.26

.art-group[data-id="4"]
  position: absolute
  top: 10.25rem
  left: 2.56rem
  z-index: 1



  .crack
    position: absolute
    top: 134px
    left: 129.15px
 
  .art[data-id="22"]
    left: 0px
    top: 12px
    width: 246px
    height: 254px
    // overflow: hidden
    clip-path: ellipse(100% 75% at 50% 50%)
    img
      position: relative
      display: block
      width: 100%
      height: 100%
      // object-fit: cover

  .art[data-id="23"]
    left: 406.14px
    top: 95px
    width: 54.86px
    height: 90.23px

  .art[data-id="24"]
    left: 531px
    top: 201px
    width: 59.72px
    height: 90px

  .art[data-id="25"]
    left: 847px
    top: 0px
    width: 145px
    height: 279px
    clip-path: ellipse(100% 75% at 50% 50%)
    img
      position: relative
      width: 100%
      height: 100%
      object-fit: cover

  .art[data-id="26"]
    left: 992px
    top: 40px
    width: 126px
    height: 218px
    clip-path: ellipse(100% 75% at 50% 50%)
    img
      position: relative
      width: 100%
      height: 100%
      object-fit: cover

.chart__svg[data-id="2"]
  position: relative
  width: 207px
  height: 100%
  margin-right: 70px
  
  .art[data-id="27"]
    left: 0px
    top: 377px
    width: 207px
    height: 219px

  .art[data-id="28"]
    left: 19px
    top: 210px
    width: 172px
    height: 185px
    transform-origin: center bottom

  .art[data-id="29"]
    left: 63.98px
    top: -15px
    width: 181px
    height: 260px
    transform-origin: center bottom

  .art[data-id="30"]
    left: 220px
    top: 519px
    width: 71px
    height: 95px

.chart__svg[data-id="6"]
  position: relative
  width: 207px
  height: 100%
  margin-right: 0px

  .art[data-id="52"]
    left: 0px
    top: 37px
    width: 209px
    height: 182px

  .art[data-id="53"]
    left: 12px
    top: 235px
    width: 174px
    height: 175px
    z-index: 1

  .art[data-id="54"]
    left: 78px
    top: 438px
    width: 52px
    height: 44px

.art-group[data-id="5"]
  position: absolute
  top: 26.56rem
  left: 8.38rem

  .art[data-id="31"]
    left: 61px
    top: 0px
    width: 76px
    height: 99px

  .art[data-id="32"]
    left: 302px
    top: 87px
    width: 85px
    height: 90px
    z-index: 1

  .art[data-id="33"]
    left: 0px
    top: 27px
    width: 195.44px
    height: 155.65px
    clip-path: ellipse(75% 50% at 50% 50%)
    img
      position: relative
      display: block
      width: 100%
      height: 100%

  .art[data-id="34"]
    left: 145px
    top: 136px
    width: 195px
    height: 130px
    clip-path: ellipse(75% 50% at 50% 50%)
    img
      position: relative
      display: block
      width: 100%
      height: 100%

  .art[data-id="35"]
    left: 289px
    top: 232px
    width: 196px
    height: 122px
    clip-path: ellipse(75% 50% at 50% 50%)
    img
      position: relative
      display: block
      width: 100%
      height: 100%

.art-group[data-id="6"]
  position: absolute
  top: 47rem
  left: 51rem

  .art[data-id="36"]
    left: 24px
    top: 0px
    width: 130px
    height: 109px

  .art[data-id="37"]
    left: 171px
    top: 19px
    width: 80px
    height: 96px

  .art[data-id="38"]
    left: 0px
    top: 53px
    width: 72px
    height: 95px



  .art[data-id="39-1"]
    left: 245px
    top: 50px
    width: 48px
    height: 61px


  .art[data-id="39-2"]
    left: 277px
    top: 50px
    width: 39px
    height: 90px

// money
.art-group[data-id="7"]
  position: absolute
  top: 90rem
  left: 1rem

  .art[data-id="40"]
    left: 0px
    top: 0px
    width: 207px
    height: 112px
    display: block

  .art[data-id="41"]
    left: 212.96px
    top: 168.03px
    width: 213px
    height: 168px
    display: block

  .art[data-id="42"]
    left: 0px
    top: 477px
    width: 165px
    height: 177px
    display: block



.art-group[data-id="8"]
  // width: 100%
  position: absolute
  top: 119rem
  left: 57.8rem
  width: 360px
  height: 280px
  clip-path: ellipse(100% 75% at 50% 50%)


  .art[data-id="43"]
    left: 153px
    top: 0px
    width: 76px
    height: 86px
    display: block

  .art[data-id="44"]
    left: 37px
    top: 6px
    width: 310px
    height: 280px
    display: block

  .art[data-id="45"]
    left: 0px
    top: 186px
    width: 79px
    height: 95px
    display: block



.art-group[data-id="9"]
  position: absolute
  top: 109rem
  left: 57.75rem

  .art[data-id="47"]
    left: 117px
    top: 216px
    width: 29px
    height: 70px

  .art[data-id="48"]
    left: 208px
    top: 346px
    width: 24px
    height: 90px

  .art[data-id="49"]
    left: 0px
    top: 120px
    width: 200px
    height: 450px

  .art[data-id="50"]
    left: 122px
    top: 374px
    width: 199px
    height: 149px



.art[data-id="51"]
  top: 141.62rem
  left: 15.44rem
  width: 73px
  height: 91px




.art-group[data-id="10"]
  position: absolute
  top: calc(154rem + 176px)
  left: 5.62rem


  .art[data-id="55"]
    left: 0px
    top: 89px

    height: 90px

  .art[data-id="56"]
    left: 95px
    top: 50px

    height: 90px

  .art[data-id="57"]
    left: 90px
    top: 279px     

    height: 90px

  .art[data-id="58"]
    left: 153px
    top: 278px
   
    height: 85px

  .art[data-id="59"]
    left: 187px
    top: 188px

    height: 95px

  .art[data-id="60"]
    left: 246px
    top: 248px
 
    height: 95px

  .art[data-id="61"]
    left: 891px
    top: 9px
 
    height: 80px

  .art[data-id="62"]
    left: 1099px
    top: 0px

    height: 120px


  .art[data-id="63"]
    left: 853px
    top: 167px

    height: 90px


  .art[data-id="64"]
    left: 936px
    top: 108px

    height: 95px


  .art[data-id="65"]
    left: 958px
    top: 208px

    height: 55px


  .art[data-id="66"]
    left: 1152px
    top: 102px

    height: 94px


  .art[data-id="67"]
    left: 1074px
    top: 171px

    height: 94px


  .art[data-id="68"]
    left: 1036px
    top: 240px

    height: 84px