@use 'mixins' as *
@use 'variables' as *

.split-word
    will-change: transform, opacity
    display: inline-block
    vertical-align: baseline
    width: auto
    white-space: normal
.split-line
    display: block
    overflow: hidden
    position: relative
    width: 100%
mark
    position: relative
    z-index: 1
    text-decoration: none
    display: inline-block
    vertical-align: baseline
    width: auto
    white-space: normal


    .underline-anim
        position: absolute
        left: 0
        right: 0
        bottom: 0.1em // чуть выше нижней линии, чтобы совпадало с text-decoration
        height: 2.5px
        width: 100%
        background: currentColor
        border-radius: 1px
        transform-origin: left
        transform: scaleX(0)
        pointer-events: none
        display: block
        z-index: 2

.article *,
.article *::before,
.article *::after
    margin: 0
    padding: 0
    box-sizing: border-box

.article
    display: flex
    flex-direction: row
    justify-content: center
    width: 100%
    -webkit-font-smoothing: antialiased
    position: relative
    background: $bg-color
    padding: 0 0 80px 80px
    margin-bottom: -130px
    @include mbp-down(sm)
        padding: 62px 0 0 0

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: url('/images/bg.jpg') repeat
        background-size: 1024px 1024px
        background-attachment: fixed
        opacity: 0.3 // прозрачность 30%
        // opacity: 1
        pointer-events: none // чтобы не блокировать клики
        @include mbp-down(sm)
            // background-size: 128px 128px
            // opacity: 0
            background-size: 512px 512px
            opacity: 1

    .article-wrapper
        width: 1260px
        height: 13670px
        padding: 20px
        position: relative

        @include mbp-down(xl)
            width: 100%
        @include mbp-down(sm)
            height: unset
            padding: 1rem




        .chapter
            position: relative

            &[data-id]:nth-of-type(odd)
                .h2 .subheader
                    color: $secondary-color
            &[data-id]:nth-of-type(even)
                .h2 .subheader
                    color: $tertiary-color

            &[data-id="0"]
                height: 60.4375rem
                @include mbp-down(sm)
                    height: unset
                    padding-top: 5.88rem
                    // padding-bottom: 19.38rem
                

            &[data-id="1"]
                height: calc(164rem + 7.45rem)
                @include mbp-down(sm)
                    height: unset
                .h2
                    left: 18.25rem
                    width: 42.25rem
                    @include mbp-down(sm)
                        left: unset
                        width: 100%

            &[data-id="2"]
                height: 156rem
                @include mbp-down(sm)
                    height: unset
                .h2
                    left: 18.25rem
                    width: 40.25rem
                    @include mbp-down(sm)
                        left: unset
                        width: 100%
                        margin-bottom: unset
                        // margin-bottom: 20rem

            &[data-id="3"]
                height: 130rem
                @include mbp-down(sm)
                    height: unset
                .h2
                    left: 24.25rem
                    width: 30.25rem
                    @include mbp-down(sm)
                        left: unset
                        width: 100%

            &[data-id="4"]
                height: 149rem
                @include mbp-down(sm)
                    height: unset
                .h2
                    left: 18.25rem
                    width: 42.25rem
                    @include mbp-down(sm)
                        left: unset
                        width: 100%

            &[data-id="5"]
                height: 177rem
                @include mbp-down(sm)
                    height: unset
                .h2
                    left: 19.25rem
                    width: 40.25rem
                    @include mbp-down(sm)
                        left: unset
                        width: 100%

            .h1-wrapper
                position: absolute
                left: 136px
                top: 175px
                width: 62.6875rem
                @include mbp-down(sm)
                    position: relative
                    left: unset
                    top: unset
                    width: 100%
                    


                // &::before
                //     content: ""
                //     position: absolute
                //     left: 50%
                //     top: 50%
                //     transform: translate(-50%, -50%)
                //     width: 69.25rem
                //     height: 32.4375rem
                //     border-radius: 69.25rem
                //     background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%)
                //     flex-shrink: 0
                //     z-index: 0
                //     pointer-events: none

                .h1
                    position: relative
                    width: 100%
                    color: $header-color
                    text-align: center
                    font-feature-settings: 'liga' off, 'clig' off
                    font-family: $font-headings
                    font-size: 4.375rem
                    font-style: normal
                    font-weight: 400
                    line-height: 120%
                    z-index: 1
                    font-kerning: none 
                    text-rendering: optimizeSpeed
                    @include mbp-down(sm)
                        font-size: 2.5rem
                        max-width: 350px
                        margin: 0 auto
                        

                        // margin-bottom: 4.12rem

                    br
                        // display: none
                        @include mbp-down(sm)
                            display: none

                    .subheader
                        color: $secondary-color
                        text-align: center
                        font-feature-settings: 'liga' off, 'clig' off
                        font-family: $font-headings
                        font-size: 1.25rem
                        font-style: italic
                        font-weight: 700
                        line-height: 120%
                        display: block
                        @include mbp-down(sm)
                            margin-bottom: 0.5rem

                    mark
                        display: inline-block
                        color: $header-color
                        font-feature-settings: 'liga' off, 'clig' off
                        font-family: $font-headings
                        font-size: 4.375rem
                        font-style: italic
                        font-weight: 400
                        line-height: 120%
                        // text-decoration-line: underline
                        text-decoration-style: solid
                        text-decoration-skip-ink: auto
                        text-decoration-thickness: 3px
                        text-underline-offset: auto
                        text-underline-position: from-font
                        background: transparent
                        @include mbp-down(sm)
                            font-size: 2.5rem
                            text-decoration-thickness: 2px

            .intro-p
                position: absolute
                left: 268px
                top: 570px
                width: 45.25rem
                color: $primary-color
                text-align: center
                font-feature-settings: 'liga' off, 'clig' off
                font-family: $font-headings
                font-size: 1.875rem
                font-style: normal
                font-weight: 400
                line-height: 120%
                text-wrap: stable
                @include mbp-down(sm)
                    font-size: 1.5rem
                    position: relative
                    left: unset
                    top: unset
                    width: 100%

                mark
                    display: inline-block
                    font-weight: 400
                    color: $primary-color
                    font-feature-settings: 'liga' off, 'clig' off
                    font-family: $font-headings
                    font-style: italic
                    font-weight: 400
                    line-height: 120%
                    text-decoration-line: underline
                    text-decoration-style: solid
                    text-decoration-skip-ink: auto
                    text-decoration-thickness: 2px
                    text-underline-offset: auto
                    text-underline-position: from-font
                    background: transparent

            .h2
                position: absolute
                top: 0px
                color: $primary-color
                font-feature-settings: 'liga' off, 'clig' off
                font-family: $font-headings
                font-size: 2.5rem
                font-style: normal
                font-weight: 400
                line-height: 120%
                text-align: center
                font-kerning: none 
                text-rendering: optimizeSpeed
                @include mbp-down(sm)
                    position: relative
                    top: unset
                    left: unset
                    width: 100%
                    font-size: 1.85rem
                    margin-bottom: 3rem
  
                span
                    display: inline-block
                    font-size: 1.875rem
                    font-style: italic
                    font-weight: 700
                    @include mbp-down(sm)
                        font-size: 1.25rem
                mark
                    display: inline-block
                    font-weight: 400
                    font-style: italic
                    // text-decoration-line: underline
                    text-decoration-style: solid
                    text-decoration-skip-ink: auto
                    text-decoration-thickness: 2px
                    text-underline-offset: auto
                    text-underline-position: from-font
                    background: transparent

            .p
                color: $primary-color
                font-feature-settings: 'liga' off, 'clig' off
                font-family: $font-primary
                font-size: 1.25rem
                font-style: normal
                font-weight: 400
                line-height: 2.1875rem
                position: absolute
                @include mbp-down(sm)
                    position: relative
                    font-size: 1.125rem
                    line-height: 1.875rem
                    padding-bottom: 2rem
                    left: unset
                    top: unset
                    width: 100%

                &[data-id="0"]
                    left: 18rem
                    top: 11.38rem
                    width: 42.25rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                    //     margin-bottom: 39rem

                &[data-id="1"]
                    left: 48rem
                    top: 88.88rem
                    width: 27.4375rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 39rem

                &[data-id="2"]
                    left: 18rem
                    top: calc(88.88rem + 53.38rem + 7.45rem)
                    width: 45.25rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 23rem

                &[data-id="3"]
                    left: 18rem
                    top: 34.62rem
                    width: 42.25rem

                &[data-id="4"]
                    left: 18rem
                    top: 54.37rem
                    width: 42.25rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 7rem

                &[data-id="5"]
                    left: 18rem
                    top: 137rem
                    width: 45.25rem

                &[data-id="6"]
                    left: 18rem
                    top: 11.38rem
                    width: 42.25rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 28rem

                &[data-id="7"]
                    left: 40rem
                    top: 24.81rem
                    width: 34.9375rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 20rem

                &[data-id="8"]
                    left: 40rem
                    top: 102.12rem
                    width: 27.625rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 8rem

                &[data-id="9"]
                    left: 11rem
                    top: 11rem
                    width: 56.875rem

                &[data-id="10"]
                    left: 11rem
                    top: 17.625rem
                    width: 56.875rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 23rem

                &[data-id="11"]
                    left: 18rem
                    top: 80rem
                    width: 42.125rem

                &[data-id="12"]
                    left: 18rem
                    top: 91rem
                    width: 42.125rem
                    @include mbp-down(sm)
                        padding-bottom: 4rem
                        // margin-bottom: 2rem

                &[data-id="13"]
                    left: 18rem
                    top: 8.4rem
                    width: 42.25rem

                &[data-id="13-2"]
                    left: 18rem
                    top: calc(8.4rem + 245px + 36px)
                    width: 42.25rem
                    @include mbp-down(sm)
                        padding-bottom: 0rem
                        // margin-bottom: 2rem

                &[data-id="14"]
                    left: 18rem
                    top: calc(88rem + 176px)
                    width: 42.25rem

                &[data-id="15"]
                    left: 18rem
                    top: calc(126rem + 176px)
                    width: 42.25rem

                &[data-id="16"]
                    left: 18rem
                    top: calc(143.5625rem + 176px)
                    width: 42.25rem


                &[data-id="0"],
                &[data-id="1"],
                &[data-id="2"],
                &[data-id="3"],
                &[data-id="4"],
                &[data-id="5"],
                &[data-id="6"],
                &[data-id="7"],
                &[data-id="8"],
                &[data-id="9"],
                &[data-id="10"],
                &[data-id="11"],
                &[data-id="12"],
                &[data-id="13"],
                &[data-id="13-2"],
                &[data-id="14"],
                &[data-id="15"],
                &[data-id="16"]
                    @include mbp-down(sm)
                        left: unset
                        top: unset
                        width: 100%
                

            .outtro-p
                position: absolute
                width: 40.25rem
                left: 19rem
                top: calc(158.8rem + 176px)
                color: $primary-color
                text-align: center
                font-feature-settings: 'liga' off, 'clig' off
                font-family: $font-headings
                font-size: 2.5rem
                font-style: normal
                font-weight: 400
                line-height: 120%
                @include mbp-down(sm)
                    position: relative
                    left: unset
                    top: unset
                    width: 100%
                    font-size: 1.875rem
                    // margin-top: 18rem
                    // margin-bottom: 18rem

                mark
                    font-style: italic
                    // text-decoration-line: underline
                    text-decoration-style: solid
                    text-decoration-skip-ink: auto
                    text-decoration-thickness: 2px
                    text-underline-offset: auto
                    text-underline-position: from-font
                    background: transparent
                    font-weight: 400

            .quote
                position: absolute
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 42.25rem
                left: 18rem
                @include mbp-down(sm)
                    position: relative
                    left: unset
                    width: 100%
                    margin-bottom: 2.45rem
                svg
                    position: relative
                    margin-bottom: 2.19rem
                    @include mbp-down(sm)
                        margin-bottom: 1rem

                blockquote
                    position: relative
                    color: $subheader-color
                    text-align: center
                    font-feature-settings: 'liga' off, 'clig' off
                    font-family: $font-headings
                    font-size: 1.875rem
                    font-style: italic
                    font-weight: 400
                    line-height: 187%
                    margin-bottom: 0.75rem
                    width: 100%
                    @include mbp-down(sm)
                        font-size: 1.5rem
                        margin-bottom: 1rem
                        line-height: 150%
                    &::before
                        display: none

                    // br
                    //     @include mbp-down(sm)
                    //         display: none

                .author
                    position: relative
                    color: $author-color
                    text-align: center
                    font-feature-settings: 'liga' off, 'clig' off
                    font-family: $font-primary
                    font-size: 1.0625rem
                    font-style: normal
                    font-weight: 600
                    line-height: 120%
                    max-width: 20.25rem
                    width: 100%
                    @include mbp-down(sm)
                        font-size: 0.9375rem
                        max-width: 300px

                &[data-id="0"]
                    top: 125.45rem
                    @include mbp-down(sm)
                        top: unset  
                    blockquote
                        max-width: 36.25rem

                &[data-id="1"]
                    top: calc(105rem + 176px)
                    @include mbp-down(sm)
                        top: unset
                    blockquote
                        max-width: 40.25rem

            
