@font-face
    font-family: 'LexiconTTWNo2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-RomanA.woff2') format('woff2')
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: 'LexiconTTWNo2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-ItalicA.woff2') format('woff2')
    font-weight: 400
    font-style: italic
    font-display: swap

@font-face
    font-family: 'LexiconTTWNo2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-RomanD.woff2') format('woff2')
    font-weight: 700
    font-style: normal
    font-display: swap

@font-face
    font-family: 'LexiconTTWNo2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-ItalicD.woff2') format('woff2')
    font-weight: 700
    font-style: italic
    font-display: swap



@font-face
    font-family: 'LexiconTTW No2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-RomanA.woff2') format('woff2')
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: 'LexiconTTW No2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-ItalicA.woff2') format('woff2')
    font-weight: 400
    font-style: italic
    font-display: swap

@font-face
    font-family: 'LexiconTTW No2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-RomanD.woff2') format('woff2')
    font-weight: 700
    font-style: normal
    font-display: swap

@font-face
    font-family: 'LexiconTTW No2'
    src: url('https://ft-shorthand-prod-eu.s3.amazonaws.com/partnercontent/pictet/rethinking-legacy/dist/fonts/LexiconTTWNo2-ItalicD.woff2') format('woff2')
    font-weight: 700
    font-style: italic
    font-display: swap