// Цвета
$bg-color: #FFF9F5
$header-color: #383A3A
$subheader-color: #804940
$primary-color: #3E3E3E
$secondary-color: #CB8579
$tertiary-color: #42737B
$stroke-color: #D1A79C
$author-color: #676464

// Шрифты
$font-headings: 'LexiconTTWNo2'
$font-primary: 'MetricWeb'

// Размеры и отступы
$spacing-sm: 0.5rem
$spacing-md: 1rem
$spacing-lg: 2rem
$spacing-xl: 4rem

// Z-индексы
$z-index-background: -1
$z-index-base: 1
$z-index-text: 2
$z-index-gradient: 5
$z-index-images: 15
$z-index-overlay: 20

// Медиа-запросы
$breakpoint-sm: 576px
$breakpoint-md: 740px
$breakpoint-lg: 1260px
$breakpoint-xl: 1440px
$breakpoint-xxl: 1920px