<article class="article">

    <div class="article-wrapper">

        <section class="chapter" data-id="0">
            <div class="h1-wrapper">
                <div class="h1">
                    <span class="subheader">Succession</span><br>
                    Rethinking legacy:<br><mark>how</mark> families are rewriting the<br>rules of generational wealth</div>
            </div>
            
            <svg class="line" data-id="0" width="4" height="43" viewBox="0 0 4 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0V43" stroke="#D1A79C" stroke-width="4"/>
            </svg>

            <div class="intro-p">
                Longer lives, shifting values and global family ties are reshaping the ways in which wealth gets passed down&nbsp;—&nbsp;and altering what <mark>legacy</mark> truly means
            </div>

            <svg class="line" data-id="1" width="150" height="270" viewBox="0 0 150 270" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M92.2736 0C92.2736 90.9513 192.462 106.067 124.165 139.51C53.3299 174.195 -24.5879 124.095 10.8293 109.45C39.9926 97.3911 102.165 111.762 92.2736 269C95.7454 213.81 90.3392 176.221 80.5984 151.198" stroke="#D1A79C" stroke-width="4" stroke-linejoin="bevel"/>
            </svg>

            <!-- ART IMAGES START -->
            <img src="/images/ill-1.png" class="art single_image" data-id="1" alt="art 1">
            <img src="/images/ill-2.png" class="art single_image" data-id="2" alt="art 2">
            <img src="/images/ill-3.png" class="art single_image" data-id="3" alt="art 3">
            <img src="/images/ill-4.png" data-speed="1.05" class="art single_image" data-id="4" alt="art 4">
            <img src="/images/ill-5.png" data-speed="1.05" class="art single_image" data-id="5" alt="art 5">
            <!-- ART IMAGES END -->
        </section>

        <section class="chapter" data-id="1">
            <div class="h2">
                <span class="subheader">Chapter 1</span><br>
                How longer lifespans are <mark>redefining</mark> financial legacy
            </div>
            <div class="p" data-id="0">As people live longer, healthier lives, many families now span three active generations, with each generation potentially involved in managing family wealth and business interests simultaneously. This dynamic challenges the traditional notion of a clear-cut generational handover. Instead, some families are adopting more fluid models of shared responsibility that reflect today’s extended lifespans. Without this shift, there is a risk that the senior generation holds onto decision-making authority into their 80s or 90s, leaving the next generation sidelined and increasingly frustrated.</div>
            
            <svg class="line" data-id="2" width="80" height="293" viewBox="0 0 80 293" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M46 1C32.9631 73 80.4761 126.19 47.9999 143C20.7503 157.104 -2.91912 131.503 3.99978 113C14.47 85 53.3491 89 68.631 107.977C96.9486 143.14 47.9999 189 45 292" stroke="#D1A79C" stroke-width="4"/>
            </svg>

            <div class="art-group" data-id="1">

            <svg class="shadow1" width="494" height="122" viewBox="0 0 494 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="247" cy="61" rx="247" ry="61" fill="url(#paint0_radial_797_369)" fill-opacity="0.2"/>
                <defs>
                <radialGradient id="paint0_radial_797_369" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(247 61) scale(247 61)">
                <stop/>
                <stop offset="1" stop-opacity="0"/>
                </radialGradient>
                </defs>
            </svg>


            <img src="/images/ill-9.png" data-speed="1.3" class="art single_image" data-id="9" alt="art 9">
            <img src="/images/ill-10.png" data-speed="1.2" class="art single_image" data-id="10" alt="art 10">
            <img src="/images/ill-11.png" data-speed="1.1" class="art single_image" data-id="11" alt="art 11">
            <img src="/images/ill-6.png" data-speed="1.3" class="art single_image" data-id="6" alt="art 6">
            <img src="/images/ill-7.png" data-speed="1.2" class="art single_image" data-id="7" alt="art 7">
            <img src="/images/ill-8.png" data-speed="1.1" class="art single_image" data-id="8" alt="art 8">
            
            
            
            </div>



            {{> chart-1 }}

            <svg class="line" data-id="3" width="143" height="516" viewBox="0 0 143 516" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110.746 0C110.746 136 48.7461 98 14.746 178C-29.6515 282.465 75.7462 386.5 21.746 364C-50.2538 334 95.0743 275 131.746 341C161.033 393.709 110.746 452 110.746 516" stroke="#E0BBB1" stroke-width="4"/>
            </svg>

            <div class="art-group" data-id="2">
                <img src="/images/ill-12.png" class="art single_image" data-id="12" alt="art 12">
                <img src="/images/ill-13.png" class="art single_image" data-id="13" alt="art 13">
    
            </div>
            
            <img src="/images/ill-14.png" data-speed="0.95" class="art single_image" data-id="14" alt="art 14">
            <img src="/images/ill-15.png" class="art single_image" data-id="15" alt="art 15">
            <img src="/images/ill-16.png" data-speed="1.05" class="art single_image" data-id="16" alt="art 16">
            {{!-- <img src="/images/ill-17.png" class="art single_image" data-id="17" alt="art 17"> --}}

            <img src="/images/ill-17-1.png" data-speed="1.05" class="art single_image" data-id="17-1" alt="art 17-1">
            <img src="/images/ill-17-2.png" data-speed="1.1" class="art single_image" data-id="17-2" alt="art 17-2">

            <div class="p" data-id="1">At the same time, families have become more structurally complex. Blended households, international marriages and siblings born decades apart are now common. These realities stretch the limits of conventional planning and demand governance frameworks that are less static, more situational and more inclusive.  “As people live longer, it creates a new paradigm,” says Hayden Bailey, Head of Private Wealth and Partner at Boodle Hatfield. “If you're born today, you have a 50 per cent chance of living to over 100, and that means the traditional approach to wealth management, built around education, work and retirement, is based on an outmoded model.”</div>   
            
            <div class="art-group" data-id="3">
                <img src="/images/ill-21.png" data-speed="1.1" class="art single_image" data-id="21" alt="art 21">
                <img src="/images/ill-18.png" data-speed="1.1" class="art single_image" data-id="18" alt="art 18">

            </div>

                <img src="/images/ill-19.png" data-speed="1.1" class="art single_image" data-id="19" alt="art 19">
                <img src="/images/ill-20.png" data-speed="1.1" class="art single_image" data-id="20" alt="art 20">

            {{> quote id="0" text="We often think of legacy as something solid… But&nbsp;what endures is relational: the conversations, the trust, the shared sense of ‘why’" author="Honora Ducatillon, Head of Family Advisory, Pictet Wealth Management"}}


            <div class="p" data-id="2">“Managing financial legacy today feels less like a baton pass and more like a team sport,” says Honora Ducatillon, Head of Family Advisory at Pictet Wealth Management. “Two or even three generations might be involved in reviewing investment decisions, shaping governance or debating the future of the family business – all at once. That only works if the conversation is structured enough to be productive but open enough to let each generation bring its own perspective on timing, priorities and what wealth is actually for.”</div>
        
            <svg class="line" data-id="4" width="4" height="73" viewBox="0 0 4 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0V73" stroke="#E0BBB1" stroke-width="4"/>
            </svg>

        </section>

        <section class="chapter" data-id="2">

            <div class="h2">
                <span class="subheader">Chapter 2</span><br>
                Towards <mark>cross-generation</mark> consensus on&nbsp;investment vision
            </div>

            <div class="art-group" data-id="4">

                <svg class="crack"  width="739" height="93" viewBox="0 0 739 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="crack_open" opacity="0" d="M54.8893 14.001L0.146973 24.8569L54.8895 0.00101471L146.218 45.734L229.315 41.1225L270.617 79.6364L428.72 40.3614L489.09 59.285L587.316 20.2667L738.03 92.3622L587.658 34.5468L489.423 73.1591L429.058 54.4631L266.269 91.3374L225.627 49.2751L140.69 56.6557L54.8893 14.001Z" fill="#8A8585"/>
                    <path id="crack_close" d="M55 1.13884L0 16.9948L55 0.63884L143.5 42.6388L227.5 36.1388L269 74.5L428 36.5L489.5 58.5L587 17.5L737.883 84.5L587 18L489.5 59L428 37L269 75L227.5 36.6388L143.5 43.1388L55 1.13884Z" fill="#8A8585"/>
                </svg>

                <div class="art single_image" data-id="22">
                    <img src="/images/ill-22.png" alt="art 22">
                </div>
                <div class="art single_image" data-id="25">
                    <img src="/images/ill-25.png" alt="art 25">
                </div>
                <div data-speed="1" class="art single_image" data-id="26">
                    <img src="/images/ill-26.png" alt="art 26">
                </div>


                <img src="/images/ill-23.png" class="art single_image" data-id="23" alt="art 23">
                <img src="/images/ill-24.png" class="art single_image" data-id="24" alt="art 24">

            </div>

            <svg class="line" data-id="5" width="323" height="194" viewBox="0 0 323 194" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.03101 1C-2.28534 149.854 445.752 170.479 286.91 192" stroke="#E0BBB1" stroke-width="4"/>
            </svg>

            <svg class="line" data-id="6" width="568" height="229" viewBox="0 0 568 229" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M85 2C85 2 -79.8313 42.9412 55.6462 117.592C147.449 168.177 566 163.5 566 228.5" stroke="#E0BBB1" stroke-width="4"/>
            </svg>

            <div class="p" data-id="3">Generations often diverge in how they think about investing. Younger family members increasingly see capital not just as something to protect, but also as a tool to express identity, signal priorities and respond to the world’s complexity. Older generations may take a more traditional view, prioritising resilience and risk management. The backlash against environmental, social and governance (ESG) labels has made everyone more selective, but the deeper shift towards purposeful capital remains. When families manage to align around that idea – even partially – investing can become more than a technical act; it can evolve into a form of dialogue.</div>
            <div class="p" data-id="4">“Families are living with each other for longer, so they inevitably feature more intergenerational relationships and more that are long-lasting,” says Dr Bridget Kustin, Economic Anthropologist and Director of the Ownership Project at the University of Oxford’s Saïd Business School. “Also, there are different forms of wealth that serve different needs, and there are lots of opportunities to meet those needs simultaneously.”</div>
            
            <svg class="line" data-id="7" width="4" height="78" viewBox="0 0 4 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0V78" stroke="#E0BBB1" stroke-width="4"/>
            </svg>

            {{> chart-2 }}

            <svg class="line" data-id="8" width="575" height="170" viewBox="0 0 575 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M573 0C573 35 462.533 106.913 322.244 84.087C148.969 55.8938 -35.1138 83.1739 8.48969 169" stroke="#D1A79C" stroke-width="4"/>
            </svg>
            <svg class="line" data-id="9" width="262" height="186" viewBox="0 0 262 186" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.99984 20.0094C119.502 189.813 329.878 96.7354 235.278 20.0094C156 -44.2898 54.4696 82.2791 171.291 183.673" stroke="#D1A79C" stroke-width="4"/>
            </svg>
            <svg class="line" data-id="10" width="172" height="120" viewBox="0 0 172 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M171 2.00014C73.3603 4.38905 -8 49 3.53044 119.423" stroke="#E0BBB1" stroke-width="4"/>
            </svg>


            
            <div class="p" data-id="5">Understanding this shared intent, even if expressed in different ways, can help unite the various perspectives into a cohesive investment strategy. “Take the example of a family office where traditional lines between investment capital and philanthropic capital are breaking down,” says Kustin. “Instead, you see an investment strategy that might be informing a philanthropic strategy.”</div>
        
        
            <svg class="line" data-id="11" width="4" height="61" viewBox="0 0 4 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0.98291L2 60.0168" stroke="#D1A79C" stroke-width="4"/>
            </svg>

        
        
        </section>

        <section class="chapter" data-id="3">
            <div class="h2">
                <span class="subheader">Chapter 3</span><br>
                Modern <mark>succession planning</mark> for&nbsp;families
            </div>
            <div class="p" data-id="6">In family-run businesses, leaders who once had a clear succession path in mind are now looking for new ways to provide younger generations with opportunities. Some evidence suggests that <a target="_blank" href="https://www.familybusinesscenter.com/resources/family-business-facts/">fewer younger family members</a> want to take over the business – or at least not its current form.</div>

            <svg class="line" data-id="12" width="708" height="171" viewBox="0 0 708 171" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M706 0C706 142.31 0.0056 233.508 25.6839 113.247C41.7058 38.2095 164.5 93 240 159" stroke="#D1A79C" stroke-width="4"/>
            </svg>

            <div class="art-group" data-id="5">
                <div class="art single_image" data-id="33">
                    <img src="/images/ill-33.png" alt="art 33">
                </div>
                <div class="art single_image" data-id="34">
                    <img src="/images/ill-34.png" alt="art 34">
                </div>
                <div class="art single_image" data-id="35">
                    <img src="/images/ill-35.png" alt="art 35">
                </div>

                <img src="/images/ill-31.png" class="art single_image" data-id="31" alt="art 31">
                <img src="/images/ill-32.png" class="art single_image" data-id="32" alt="art 32">
            </div>
            


            <svg class="line" data-id="13" width="195" height="103" viewBox="0 0 195 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 25.1747C12.24 -4.75156 38 0.559714 57 8.9999C82 20.1054 93.3067 64.4114 95.0133 96.0003C107.529 75.0519 135.973 33.1551 194 49.1158" stroke="#D1A79C" stroke-width="4"/>
            </svg>


            
            <div class="p" data-id="7">“Some might choose to take different pathways,” says Kustin. “Or the family might decide to let the younger generation test its ideas, perhaps with a ring-fenced pot of capital.” It allows the younger generation to explore investment under real conditions but without putting the core assets at risk. These initiatives offer more than financial exposure: they create opportunities to practise due diligence, interact with advisers, assess deal quality and define their own risk-return objectives. It's not about getting everything right; it’s about learning how to decide. </div>
            

            <div class="art-group" data-id="6">
                <img src="/images/ill-36.png" class="art single_image" data-id="36" alt="art 36">
                <img src="/images/ill-37.png" class="art single_image" data-id="37" alt="art 37">
                <img src="/images/ill-38.png" data-speed="1.05" class="art single_image" data-id="38" alt="art 38">
           
                <img src="/images/ill-39-1.png" class="art single_image" data-id="39-1" alt="art 39-1">
                <img src="/images/ill-39-2.png" data-speed="1.05" class="art single_image" data-id="39-2" alt="art 39-2">
            </div>



   
            <svg class="line" data-id="14" width="1101" height="414" viewBox="0 0 1101 414" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1099 2C986 123 828.5 -15.5 706.5 27.5C684.803 35.1474 681 67.5 720 63.5C739.005 61.5508 743.5 90.5 733.5 96.5C723.5 102.5 686 92.5 686 114.5C686 131.5 720 123 720 143C720 163 640 155.5 638 173C636 190.5 711 188 708 217C705 246 662 222 662 271C662 295.254 594.5 276.5 571 287C547.5 297.5 525.5 399.5 455.5 384C228.968 333.839 4 411.5 1 411.5" stroke="#D1A79C" stroke-width="4"/>
            </svg>


            {{> chart-3 }}




            <svg class="line" data-id="15" width="644" height="926" viewBox="0 0 644 926" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M171.818 2C39.1753 40 3 237 3 345C3 601.383 182.78 551 213.474 703C244.168 855 415.842 699.086 502.876 813C553.303 879 642 868 642 926" stroke="#E0BBB1" stroke-width="4"/>
            </svg>

            <div class="art-group" data-id="7">
                <img src="/images/ill-40.png" data-speed="1.5" class="art single_image" data-id="40" alt="art 40">
                <img src="/images/ill-41.png" data-speed="1.4" class="art single_image" data-id="41" alt="art 41">
                <img src="/images/ill-42.png" data-speed="1.65" class="art single_image" data-id="42" alt="art 42">
            </div>

            <div class="p" data-id="8">Technological change has the potential to drive animated discussions, too. As young, tech-savvy family members embrace digital transformation, they might have different views of what represents opportunity. One survey of wealthier investors found, for example, that younger people were significantly <a target="_blank" href="https://go.wealthx.com/2022-crypto-investment-and-the-wealthy?utm_source=Article&amp;utm_campaign=WX_2022-03-03+%5BAll+Wealth%5D%5BSpotlight+on+Crypto+2022%5D">more interested in digital currency</a>, while their older peers remained more focused on traditional asset classes.</div>

            <div class="art-group" data-id="8" data-speed="0.95">
                <img src="/images/ill-44.png" class="art single_image" data-id="44" alt="art 44">
                <img src="/images/ill-43.png" class="art single_image" data-id="43" alt="art 43">
                <img src="/images/ill-45.png" class="art single_image" data-id="45" alt="art 45">
            </div>

        </section>

        <section class="chapter" data-id="4">
            <div class="h2">
                <span class="subheader">Chapter 4</span><br>
                Open communication for <mark>future&nbsp;prosperity</mark>
            </div>
            <div class="p" data-id="9">Wealth transitions are rarely just about numbers; they are deeply emotional as well. What often derails the process isn’t tax or technicalities but silence: conversations that never happen or expectations that remain unspoken.</div>
            <div class="p" data-id="10">For many parents, their experience is a catalyst. Some inherited too early or too suddenly, without conversations, context or clarity. Others watched close friends or extended family fracture under the weight of unspoken expectations. Some families come to see succession not as a single event but as a process that unfolds over time – one in which preserving relationships matters as much as preserving capital.</div>

            {{> chart-4 }}

            <svg class="line" data-id="16" width="4" height="72" viewBox="0 0 4 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0V72" stroke="#D1A79C" stroke-width="4"/>
            </svg>
            
            <div class="p" data-id="11">“We often think of legacy as something solid: a building, a business, a number. But what endures is relational: the conversations, the trust, the shared sense of ‘why’,” says Ducatillon. “Continuity doesn’t mean conformity. The real challenge is to keep a strong connection.”</div>
            <div class="p" data-id="12">Generational diversity and evolving family structures create challenges that are difficult to predict. But establishing a framework for open dialogue can help families to ensure that decisions serve the collective. Bringing in a third party – whether an adviser or an external expert – can be instrumental in easing emotionally charged conversations and facilitating compromise.</div>
        
            {{> chart-5 }}

            <svg class="line" data-id="17" width="668" height="636" viewBox="0 0 668 636" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1.99805C690 10 366.786 478.618 460.877 426.484C601.289 348.685 666.992 506.709 665 535C665 627 194 475.484 194 636" stroke="#D1A79C" stroke-width="4"/>
            </svg>

            <div class="art-group" data-id="9">
                <img src="/images/ill-49.png" data-speed="1.5" class="art single_image" data-id="49" alt="art 49">
                <img src="/images/ill-50.png" data-speed="1.3" class="art single_image" data-id="50" alt="art 50">
                <img src="/images/ill-47.png" data-speed="1.5" class="art single_image" data-id="47" alt="art 47">
                <img src="/images/ill-48.png" data-speed="1.3" class="art single_image" data-id="48" alt="art 48">
            </div>

            <img src="/images/ill-51.png" data-speed="0.95" class="art single_image" data-id="51" alt="art 51">
        </section>

        <section class="chapter" data-id="5">
            <div class="h2">
                <span class="subheader">Chapter 5</span><br>
                Governance <mark>that grows</mark> with family
            </div>
            <div class="p" data-id="13">As families grow more complex, so too must their governance frameworks. What worked previously may no longer work now. Governance structures need to evolve alongside the family, not just in law, but in mindset as well. “Better family governance is vital,” says Clare Stirzaker, a Private Wealth Partner at law firm Boodle Hatfield. Even where families have legally binding agreements in place that are meant to provide clear answers about issues such as succession and inheritance, discussion is often better than litigation as a route to avoiding and resolving disagreements, she says.”</div>
            <div class="p" data-id="13-2">“There are a range of tools and structures that families will use, but we aim to get people to discuss their wealth more broadly as a family and to understand family dynamics and expectations, so we can then design the right solutions that support better communication, clarity and ultimately, trust.”</div>
 
            <svg class="line" data-id="18" width="4" height="63" viewBox="0 0 4 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 -0.00390625V63.004" stroke="#D1A79C" stroke-width="4"/>
            </svg>

            {{> chart-6 }}

            <svg class="line" data-id="19" width="207" height="348" viewBox="0 0 207 348" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M112.38 1C107.581 61 239.362 168.9 196.363 202.5C142.614 244.5 17.8392 268 6.32148 296.5C-5.19621 325 14.8809 342 19.9998 346" stroke="#D1A79C" stroke-width="4"/>
            </svg>

            <svg class="line" data-id="20" width="4" height="132" viewBox="0 0 4 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0V132" stroke="#D1A79C" stroke-width="4"/>
            </svg>

            <div class="p" data-id="14">“Family councils and charters are an important part of that governance kit,” adds Bailey, at Boodle Hatfield. “They provide engagement across generations, with representatives who are able to come together to discuss issues common to all family members about earning and managing their wealth.” It won’t be possible to anticipate every scenario that might affect the family, but a council at least provides a vehicle in which solutions to unexpected turns of event can be found.</div>
            
            {{> quote id="1" text="Managing financial legacy today feels less like a baton pass and more like a team sport" author="Honora Ducatillon, Head of Family Advisory, Pictet Wealth Management"}}
            
            <div class="p" data-id="15">“The rising generation shouldn’t meet family wealth for the first time in a legal document or a crisis,” says Ducatillon. “They should be brought into the conversation gradually – not to decide but to understand.” In many families, this shift doesn’t happen organically. It takes intention and often a degree of facilitation – whether through regular meetings, shared learning processes or external perspectives that help keep the dialogue moving. “Governance, in this sense, is less about formal rules than about building habits,” adds Ducatillon.</div>
            <div class="p" data-id="16">With the right process and intent, families can establish not only financial continuity but also shared understanding across generations. Yet, in many cases, silence still prevails over dialogue; structure overrules intention. Those families who begin to engage – even imperfectly – are laying the groundwork for something more enduring.</div>

            <div class="outtro-p">The conversation may be difficult, but it’s <mark>where legacy truly begins.</mark></div>
        

            <div class="art-group" data-id="10">
                <img src="/images/ill-55.png" class="art single_image" data-id="55" alt="art 55">
                <img src="/images/ill-56.png" data-speed="0.975" class="art single_image" data-id="56" alt="art 56">
                <img src="/images/ill-57.png" data-speed="1.05" class="art single_image" data-id="57" alt="art 57">
                <img src="/images/ill-58.png" data-speed="1.05" class="art single_image" data-id="58" alt="art 58">
                <img src="/images/ill-59.png" data-speed="1.025" class="art single_image" data-id="59" alt="art 59">
                <img src="/images/ill-60.png" data-speed="1.05" class="art single_image" data-id="60" alt="art 60">
                <img src="/images/ill-61.png" data-speed="0.975" class="art single_image" data-id="61" alt="art 61">
                <img src="/images/ill-62.png" data-speed="0.975" class="art single_image" data-id="62" alt="art 62">
                <img src="/images/ill-63.png" data-speed="1.025" class="art single_image" data-id="63" alt="art 63">
                <img src="/images/ill-64.png" class="art single_image" data-id="64" alt="art 64">
                <img src="/images/ill-65.png" data-speed="1.025" class="art single_image" data-id="65" alt="art 65">
                <img src="/images/ill-66.png" class="art single_image" data-id="66" alt="art 66">
                <img src="/images/ill-67.png" data-speed="1.025" class="art single_image" data-id="67" alt="art 67">
                <img src="/images/ill-68.png" data-speed="1.05" class="art single_image" data-id="68" alt="art 68">
            </div>


        </section>

    </div>

    {{> nav}}

</article>