<figure class="chart" data-id="1">
  <div class="chart__wrapper">
    <div class="chart__title">Longer lives</div>
    <div class="chart__subtitle">Life expectancy at birth (1950 - 2100)</div>
    
    <div class="chart__axes">
      <div class="chart__y-label__wrapper"><div class="chart__y-label">AGE</div></div>
      <div class="chart__y-axis">
        <span>80</span>
        <span>70</span>
        <span>60</span>
        <span>50</span>
        <span>40</span>
        <span>30</span>
      </div>
      <div class="chart__svg-wrapper">
        <svg class="chart__svg" width="100%" height="100%" viewBox="0 0 843 359" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M843 359H2.42347V0" stroke="#3E3E3E" stroke-miterlimit="10"/>
          <path d="M2 22H837.14" stroke="#C7C7C7"/>
          <path d="M2.42304 159.5H837.563M2.42353 291H837.564" stroke="#C7C7C7"/>
          <path d="M837.563 351L838.647 21.9933" stroke="#804940" stroke-dasharray="2 2"/>
          <path id="chart1-path" d="M2.42334 238L12.5178 227.774L23.9793 217.954L34.885 212.211L45.8056 206.895L55.9001 229.396L66.8058 197.075L79.0934 191.354H84.5463L105.006 181.128L113.463 177.862L118.375 180.723L123.287 171.713L152.203 161.082L171.311 150.451L192.581 143.492L211.133 134.91L225.328 131.216L240.065 127.545L246.058 130L284.528 114.864L315.353 102.184L336.909 92.7687L354.108 87.0478L384.106 77.633L396.124 87.4532L404.025 77.633L441.955 68.6236L501.155 58.3979L578.906 49.4111L697.051 35.897L822.556 24.0496L837.563 22" stroke="#42737B" stroke-width="5" stroke-miterlimit="10"/>
        </svg>

        <div class="chart__svg-texts">
         
            Globally, lifespans have grown by <span class="chart__svg-caption-accent">almost 30 years</span> since 1950
       
        </div>
        <div class="chart__x-axis">
          <span>1950</span>
          <span>1980</span>
          <span>2010</span>
          <span>2040</span>
          <span>2070</span>
          <span>2100</span>
        </div>

        <div class="chart__x-label">YEARS</div>
      </div>

      
    </div>
    <figcaption class="chart__source">
      Source: <a href="https://population.un.org/wpp/" target="_blank" rel="noopener">UN DESA, World Population Prospects, 2024</a>
    </figcaption>
  </div>
</figure>