<figure class="chart" data-id="6">
  <div class="chart__wrapper">
    <div class="chart__title">Governance gaps</div>
    <div class="chart__subtitle">Are family business leaders setting up the right structures to protect their legacy?</div>
    
    
    
    <div class="chart6-sp1">ON THE POSITIVE SIDE</div>
    
    <div class="chart__caption" data-id="1">
      <span class="chart__caption_value">97%</span>
      <div class="chart__caption_text" data-id="1">say they are fully or highly trusted by family members</div>
    </div>

    <div class="chart__caption" data-id="2">
      <span class="chart__caption_value">70%</span>
      <div class="chart__caption_text" data-id="2">say the business has a clear set of family values</div>
    </div>

    <div class="chart__caption" data-id="3">
      <span class="chart__caption_value">65%</span>
      <div class="chart__caption_text" data-id="3">say they invest time in making sure they understand family members’ concerns</div>
    </div>
    
    <div class="chart__svg" data-id="6">

        <svg class="line" data-id="19" width="207" height="348" viewBox="0 0 207 348" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M112.38 1C107.581 61 239.362 168.9 196.363 202.5C142.614 244.5 17.8392 268 6.32148 296.5C-5.19621 325 14.8809 342 19.9998 346" stroke="#D1A79C" stroke-width="4"/>
        </svg>

      <img src="/images/ill-52.png" class="art single_image" data-id="52" alt="art 52">
      <img src="/images/ill-53.png" class="art single_image" data-id="53" alt="art 53">
      <img src="/images/ill-54.png" class="art single_image" data-id="54" alt="art 54">
    
        <svg class="line" data-id="20" width="4" height="132" viewBox="0 0 4 132" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 0V132" stroke="#D1A79C" stroke-width="4"/>
        </svg>
    
    </div>

    
    <div class="chart6-sp2">ON THE NEGATIVE SIDE</div>



    <div class="chart__caption" data-id="4">
      <span class="chart__caption_value">81%</span>
 
        <div class="chart__caption_text" data-id="4">have no formal conflict resolution mechanism</div>
     
    </div>
  
    <div class="chart__caption" data-id="5">
      <span class="chart__caption_value">91%</span>
    
        <div class="chart__caption_text" data-id="5">do not have a diverse board*</div>
   
    </div>

    <div class="chart__caption" data-id="6">
      <span class="chart__caption_value">70%</span>
  
        <div class="chart__caption_text" data-id="6">have no family constitution</div>
    
    </div>

    <div class="chart6-sp3">*A diverse board is defined as ones that include two or more women, one board member under the age of 40, one non–family member and one from a different sector background</div>


    <figcaption class="chart__source">
      Source: <a href="https://www.pwc.com/gx/en/services/family-business/family-business-survey.html" target="_blank" rel="noopener">PWC, 2023</a>
    </figcaption>
  </div>
</figure>