<figure class="chart" data-id="2">
  <div class="chart__wrapper">
    <div class="chart__title">A search for purpose</div>
    <div class="chart__subtitle">Younger generations seek values-driven purchases and investments more than their older counterparts</div>
    <div class="chart__svg" data-id="2">

              <svg class="chart_2_shadow" width="197" height="43" viewBox="0 0 197 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="98.5" cy="21.5" rx="98.5" ry="21.5" fill="url(#paint0_radial_699_20)" fill-opacity="0.2"/>
                <defs>
                <radialGradient id="paint0_radial_699_20" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(98.5 21.5) scale(98.5 21.5)">
                <stop/>
                <stop offset="1" stop-opacity="0"/>
                </radialGradient>
                </defs>
              </svg>

              <img src="/images/ill-27.png" class="art single_image" data-id="27" alt="art 27">
              <img src="/images/ill-28.png" class="art single_image" data-id="28" alt="art 28">
              <img src="/images/ill-29.png" class="art single_image" data-id="29" alt="art 29">
              <img src="/images/ill-30.png" class="art single_image" data-id="30" alt="art 30">
    </div>


    <div class="chart__caption" data-id="1">
      <span class="chart__caption_value">92%</span>
      <div>
        <div class="chart__caption_text"  data-id="1">of Gen Z need to share values with a brand to buy from them</div>
        <div class="chart__source">
          Source: <a href="https://www.edelman.com/insights/genzs-deep-rooted-value-brand-purpose-kpis-marketers" target="_blank" rel="noopener">Edelman, 2024</a>
        </div>
      </div>
    </div>

    <div class="chart__caption" data-id="2">
      <span class="chart__caption_value">53%</span>
      <div>
        <div class="chart__caption_text"  data-id="2">of investors under 45 consider ESG when investing vs 43% of investors aged 65+</div>
        <div class="chart__source">
          Source: <a href="https://www.theaic.co.uk/aic/news/press-releases/esg-attitudes-tracker-passion-for-esg-investing-cools-further" target="_blank" rel="noopener">AIC, 2024</a>
        </div>
      </div>
    </div>

    <div class="chart__caption" data-id="3">
      <span class="chart__caption_value">76%</span>
      <div>
        <div class="chart__caption_text"  data-id="3">of investors under 45 associate ESG with positive words vs 48% of investors aged 65+</div>
        <div class="chart__source">
          Source: <a href="https://www.theaic.co.uk/aic/news/press-releases/esg-attitudes-tracker-passion-for-esg-investing-cools-further" target="_blank" rel="noopener">AIC, 2024</a>
        </div>
      </div>
    </div>
    

  </div>
</figure>