<figure class="chart" data-id="1">
  <div class="chart__wrapper">
    <div class="chart__title">Longer lives</div>
    <div class="chart__subtitle">Life expectancy at birth (1950 - 2100)</div>
    <div class="chart__svg">
      <svg width="909" height="411" viewBox="0 0 909 411" fill="none" xmlns="http://www.w3.org/2000/svg">
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="472.944" y="409.658">YEARS</tspan></text>
        <text transform="matrix(0 -1 1 0 0 198.861)" fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="0" y="10.658">AGE</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="86.3242" y="378.428">1950</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="241.91" y="378.428">1980</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="399.502" y="378.428">2010</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="556.09" y="378.428">2040</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="714.687" y="378.428">2070</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="872.279" y="378.428">2100</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="35.8857" y="361.658">30</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="33.8784" y="294.658">40</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="35.8857" y="227.658">50</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="34.8818" y="160.658">60</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="35.8857" y="94.658">70</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="MetricWeb" font-size="12" letter-spacing="0em"><tspan x="34.8818" y="27.7994">80</tspan></text>
        <path d="M909 359H68.4233V0" stroke="#3E3E3E" stroke-miterlimit="10"/>
        <path d="M68 22H903.14" stroke="#C7C7C7"/>
        <path d="M68.4229 159.5H903.563M68.4233 291H903.563" stroke="#C7C7C7"/>
        <path d="M903.562 351L904.647 21.9933" stroke="#804940" stroke-dasharray="2 2"/>
        <path id="chart1-path" d="M68.4233 238L78.5178 227.774L89.9793 217.954L100.885 212.211L111.806 206.895L121.9 229.396L132.806 197.075L145.093 191.354H150.546L171.006 181.128L179.463 177.862L184.375 180.723L189.287 171.713L218.203 161.082L237.311 150.451L258.581 143.492L277.133 134.91L291.328 131.216L306.065 127.545L312.058 130L350.528 114.864L381.353 102.184L402.909 92.7687L420.108 87.0478L450.106 77.633L462.124 87.4532L470.025 77.633L507.955 68.6236L567.155 58.3979L644.906 49.4111L763.051 35.897L888.556 24.0496L903.563 22" stroke="#42737B" stroke-width="5" stroke-miterlimit="10"/>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="30" font-style="italic" letter-spacing="0em"><tspan x="472.459" y="246.4">Globally, lifespans have grown by &#x2028;</tspan><tspan x="649.91" y="282.4"> </tspan><tspan x="747.85" y="282.4"> since 1950</tspan></text>
        <text fill="#42737B" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="30" font-style="italic" letter-spacing="0em"><tspan x="566.223" y="282.4">almost</tspan><tspan x="651.125" y="282.4">30 years</tspan></text>
      </svg>
    </div>
    <figcaption class="chart__source">
      Source: <a href="https://population.un.org/wpp/" target="_blank" rel="noopener">UN DESA, World Population Prospects, 2024</a>
    </figcaption>
  </div>
</figure>