<figure class="chart" data-id="4">
  <div class="chart__wrapper">
    <div class="chart__title">Communication challenges</div>
    <div class="chart__subtitle">Families can be reluctant to speak about succession planning – here’s <i>why</i></div>
        <figcaption class="chart__source">
      Source: <a href="https://www.step.org/system/files/media/files/2025-04/step-atittudes-to-wealth-2025.pdf" target="_blank" rel="noopener">STEP, 2025</a>
    </figcaption>
    <div class="chart__svg">

    <svg width="900" height="388" viewBox="0 0 900 388" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g class="lines_with_texts" transform="translate(100 0)">
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="80.8057" y="15.2885">Privacy and </tspan><tspan x="71.3262" y="32.2885">confidentiality</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="49.2119" y="165.288">Cultural and </tspan><tspan x="22.583" y="182.288">generational factors</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="14.0205" y="289.288">Procrastination </tspan><tspan x="12.3604" y="306.288">and low priority</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="191.192" y="357.288">Trust issues and fear </tspan><tspan x="196.746" y="374.288">of mismanagement</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="385.754" y="326.288">Concerns over next </tspan><tspan x="379.769" y="343.288">generation readiness</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="624.921" y="300.288">Lack of </tspan><tspan x="597.985" y="317.288">communication </tspan><tspan x="632.55" y="334.288">skills</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="592" y="206.288">Avoidance of conflict</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="536.799" y="124.608">Discomfort around </tspan><tspan x="539.846" y="139.608">discussing wealth</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="567.209" y="14.2885">Fear of creating </tspan><tspan x="581.113" y="31.2885">entitlement</tspan></text>
      <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="293.67" y="28.2885">Desire for flexibility </tspan><tspan x="322.167" y="45.2885">and control</tspan></text>
      <path d="M347 199L155 45" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L157 161.246" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L135 284" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L261 340" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L420 300" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L581 309" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L576 199" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L511 134" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L539 34" stroke="#E0BBB1" stroke-width="4"/>
      <path d="M347 199L362.469 59.0009" stroke="#E0BBB1" stroke-width="4"/>
    </g>
    <rect x="398" y="147" width="99.8024" height="100.198" fill="url(#pattern0_699_317)"/>
    <defs>
    <pattern id="pattern0_699_317" patternContentUnits="objectBoundingBox" width="1" height="1">
    <use xlink:href="#image0_699_317" transform="scale(0.00496825 0.00495257)"/>
    </pattern>
    <image id="image0_699_317" xlink:href="/images/ill-46.png"/>
    </defs>
    </svg>



    </div>

  </div>
</figure>