<figure class="chart" data-id="3">
  <div class="chart__wrapper">
    <div class="chart__title">Succession perception gaps</div>
    <div class="chart__subtitle">Current and next generations have mismatched beliefs about family legacy</div>
    <div class="chart__svg">
      {{!-- <svg width="910" height="411" viewBox="0 0 910 411" fill="none" xmlns="http://www.w3.org/2000/svg">

        <g id="chart3-values">
          <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24"
            letter-spacing="0em">
            <tspan x="302.315" y="64.72">8%</tspan>
          </text>
          <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24"
            letter-spacing="0em">
            <tspan x="436.678" y="87.72">18%</tspan>
          </text>
          <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24"
            letter-spacing="0em">
            <tspan x="517.092" y="176.72">24%</tspan>
          </text>
          <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24"
            letter-spacing="0em">
            <tspan x="368.622" y="202.72">13%</tspan>
          </text>
          <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24"
            letter-spacing="0em">
            <tspan x="839.766" y="284.72">48%</tspan>
          </text>
          <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24"
            letter-spacing="0em">
            <tspan x="582.201" y="310.72">29%</tspan>
          </text>
        </g>

        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="12"
          letter-spacing="0em">
          <tspan x="443.803" y="409.658">PERCENTAGE OF RESPONDENTS</tspan>
        </text>
        <text transform="translate(2.03613 5)" fill="#3E3E3E" xml:space="preserve" style="white-space: pre"
          font-family="Metric" font-size="12" letter-spacing="0em">
          <tspan x="0" y="10.658">BELIEF</tspan>
        </text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="12"
          letter-spacing="0em">
          <tspan x="183.222" y="378.428">0</tspan>
        </text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="12"
          letter-spacing="0em">
          <tspan x="310.459" y="378.428">10</tspan>
        </text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="12"
          letter-spacing="0em">
          <tspan x="435.66" y="378.428">20</tspan>
        </text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="12"
          letter-spacing="0em">
          <tspan x="561.879" y="378.428">30</tspan>
        </text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="12"
          letter-spacing="0em">
          <tspan x="689.116" y="378.428">40</tspan>
        </text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="12"
          letter-spacing="0em">
          <tspan x="820.425" y="378.428">50</tspan>
        </text>
        <path d="M851.98 358H183.222V0" stroke="#3E3E3E" stroke-miterlimit="10" />

        <g id="chart3-text">
          <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17"
            letter-spacing="0em">
            <tspan x="1.01758" y="56.3905">The next generation </tspan>
            <tspan x="1.01758" y="75.3905">will sell off part or all of </tspan>
            <tspan x="1.01758" y="94.3905">the family business</tspan>
          </text>
          <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17"
            letter-spacing="0em">
            <tspan x="0" y="166.391">A formal succession plan </tspan>
            <tspan x="0" y="185.39">supports continuity in a </tspan>
            <tspan x="0" y="204.39">family business</tspan>
          </text>
          <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17"
            letter-spacing="0em">
            <tspan x="0" y="281.391">I have only worked in </tspan>
            <tspan x="0" y="300.39">the family business</tspan>
          </text>
        </g>

        <g id="chart3-paths">
          <path d="M290.954 49H183.222V68.3474H290.954V49Z" fill="#D1A79C" stroke="#3E3E3E" stroke-width="0.5"
            stroke-miterlimit="10" />
          <path d="M425.604 70.4961H183.222V89.8435H425.604V70.4961Z" fill="#42737B" stroke="#42737B" stroke-width="0.5"
            stroke-miterlimit="10" />
          <path d="M506.42 160H183.222V179.347H506.42V160Z" fill="#D1A79C" stroke="#3E3E3E" stroke-width="0.5"
            stroke-miterlimit="10" />
          <path d="M358.295 181.496H183.222V200.844H358.295V181.496Z" fill="#42737B" stroke="#42737B" stroke-width="0.5"
            stroke-miterlimit="10" />
          <path d="M829.586 271H183.222V290.348H829.586V271Z" fill="#D1A79C" stroke="#3E3E3E" stroke-width="0.5"
            stroke-miterlimit="10" />
          <path d="M573.729 292.503H183.222V311.85H573.729V292.503Z" fill="#42737B" stroke="#42737B" stroke-width="0.5"
            stroke-miterlimit="10" />
        </g>

        <g id="legend">
          <text transform="translate(648.4 33)" fill="#3E3E3E" xml:space="preserve" style="white-space: pre"
            font-family="Metric" font-size="12" letter-spacing="0em">
            <tspan x="0" y="10.658">CURRENT GENERATION</tspan>
          </text>
          <text transform="translate(648.4 73)" fill="#3E3E3E" xml:space="preserve" style="white-space: pre"
            font-family="Metric" font-size="12" letter-spacing="0em">
            <tspan x="0" y="10.658">NEXT GENERATION</tspan>
          </text>
          <rect x="614.292" y="28.5" width="20.3758" height="20" fill="#D1A79C" stroke="#3E3E3E" />
          <rect x="614.292" y="68.5" width="20.3758" height="20" fill="#42737B" stroke="black" />
        </g>

      </svg> --}}


      <div class="divchart">

        <div class="divchart__left">
          <div class="chart3__yaxis_label">Belief</div>

          <div class="chart3__yaxis">
            <div class="chart3__yaxis_tick"> The next generation will sell off part or all of the family business</div>
            <div class="chart3__yaxis_tick">A formal succession plan supports continuity in a family business</div>
            <div class="chart3__yaxis_tick">I have only worked in the family business</div>
          </div>
        </div>

        <div class="divchart__right">

          <div class="chart3__chart">

            <div class="chart3__legend">
              <div class="chart3__legend_item">
                <div class="chart3__legend_color current-generation"></div>
                <span class="chart3__legend_text">Current generation</span>
              </div>
              <div class="chart3__legend_item">
                <div class="chart3__legend_color next-generation"></div>
                <span class="chart3__legend_text">Next generation</span>
              </div>
            </div>

            <div id="chart3-paths" class="chart3__paths">
              <div class="chart3__paths__group" data-id="1">
                <div class="cahrt3__path">
                  <div class="chart3__bar"></div>
                  <div class="chart3__value__box">
                    <div class="chart3__value">8%</div>
                  </div>
                </div>
                <div class="cahrt3__path">
                  <div class="chart3__bar"></div>
                  <div class="chart3__value__box">
                    <div class="chart3__value">18%</div>
                  </div>
                </div>
              </div>
              <div class="chart3__paths__group" data-id="2">
                <div class="cahrt3__path">
                  <div class="chart3__bar"></div>
                  <div class="chart3__value__box">
                    <div class="chart3__value">24%</div>
                  </div>
                </div>
                <div class="cahrt3__path">
                  <div class="chart3__bar"></div>
                  <div class="chart3__value__box">
                    <div class="chart3__value">13%</div>
                  </div>
                </div>
              </div>
              <div class="chart3__paths__group" data-id="3">
                <div class="cahrt3__path">
                  <div class="chart3__bar"></div>
                  <div class="chart3__value__box">
                    <div class="chart3__value">48%</div>
                  </div>
                </div>
                <div class="cahrt3__path">
                  <div class="chart3__bar"></div>
                  <div class="chart3__value__box">
                    <div class="chart3__value">29%</div>
                  </div>
                </div>
              </div>
            </div>




          </div>

          <div class="chart3__xaxis">
            <div class="chart3__xaxis_tick" style="left: 0%;">0</div>
            <div class="chart3__xaxis_tick" style="left: 10%;">10</div>
            <div class="chart3__xaxis_tick" style="left: 20%;">20</div>
            <div class="chart3__xaxis_tick" style="left: 30%;">30</div>
            <div class="chart3__xaxis_tick" style="left: 40%;">40</div>
            <div class="chart3__xaxis_tick" style="left: 50%;">50</div>
          </div>

          <div class="chart3__xaxis_label">Percentage of respondents</div>
        </div>

      </div>


    </div>
    <figcaption class="chart__source">
      Source: <a
        href="https://www.deloitte.com/us/en/services/deloitte-private/articles/family-business-next-generation-insights.html"
        target="_blank" rel="noopener">Deloitte, 2024</a>
    </figcaption>
  </div>
</figure>