<figure class="chart" data-id="5">
  <div class="chart__wrapper">
    <div class="chart__title">Not quite syncing up</div>
    <div class="chart__subtitle">Experts feel very few families communicate well around succession planning</div>
        <figcaption class="chart__source">
      Source: <a href="https://www.step.org/system/files/media/files/2025-04/step-atittudes-to-wealth-2025.pdf" target="_blank" rel="noopener">STEP, 2025</a>
    </figcaption>
    <div class="chart__svg">
      <svg width="484" height="402" viewBox="0 0 484 402" fill="none" xmlns="http://www.w3.org/2000/svg">
        
        <g>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24" letter-spacing="0em"><tspan x="357" y="160.72">43%</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="357" y="187.391">Communicate not </tspan><tspan x="357" y="204.39">very effectively</tspan></text>
        </g>
        <g>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24" letter-spacing="0em"><tspan x="85" y="344.72">41%</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="85" y="371.391">Communicate </tspan><tspan x="85" y="388.39">somewhat effectively</tspan></text>
        </g>
        <g>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="0" y="114.391">Communicate not </tspan><tspan x="0" y="131.39">at all effectively</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24" letter-spacing="0em"><tspan x="0" y="87.72">8%</tspan></text>
        </g>
        <g>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="84" y="78.3905">Don&#x2019;t know</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24" letter-spacing="0em"><tspan x="84" y="51.72">4%</tspan></text>
        </g>
        <g>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="Metric" font-size="17" letter-spacing="0em"><tspan x="188" y="48.3905">Communicate </tspan><tspan x="188" y="65.3905">very effectively</tspan></text>
        <text fill="#3E3E3E" xml:space="preserve" style="white-space: pre" font-family="LexiconTTW No2" font-size="24" letter-spacing="0em"><tspan x="188" y="21.72">4%</tspan></text>
        </g>
      
        <path d="M220.56 218.149V86C293.545 86 352.72 145.164 352.72 218.16C352.72 270.715 325.727 313.902 278.498 336.943L220.56 218.16V218.149Z" fill="#42737B" stroke="#3E3E3E" stroke-width="0.5" stroke-miterlimit="10"/>
        <path d="M220.56 218.149L278.498 336.932C212.895 368.933 133.778 341.69 101.788 276.086C81.3023 234.104 83.7325 187.737 108.488 148.128L220.56 218.16V218.149Z" fill="#D1A79C" stroke="#3E3E3E" stroke-width="0.5" stroke-miterlimit="10"/>
        <path d="M220.56 218.148L108.488 148.128C120.866 128.323 136.06 113.901 156.49 102.579L220.56 218.16V218.148Z" fill="#CCC1B7" stroke="#3E3E3E" stroke-width="0.5" stroke-miterlimit="10"/>
        <path d="M220.56 218.149L156.49 102.568C166.699 96.9018 175.079 93.5291 186.356 90.4971L220.56 218.149Z" fill="#E3DCD6" stroke="#3E3E3E" stroke-width="0.5" stroke-miterlimit="10"/>
        <path d="M220.56 218.149L186.356 90.5083C197.644 87.4763 208.886 86 220.56 86V218.149Z" fill="white" stroke="#3E3E3E" stroke-width="0.5" stroke-miterlimit="10"/>
      </svg>
    </div>

  </div>
</figure>