<div class="quote" data-id="{{id}}">
    <svg width="94" height="69" viewBox="0 0 94 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.25 42.75C0.25 21.3787 18.2552 3.29012 43.9111 1.00391L44.8418 0.920898L45.8926 7.57617L44.9121 7.73633C29.1166 10.3296 21.2016 18.4542 20.5449 27.0752C26.6345 26.2758 32.7204 27.6792 37.3984 31.0645C42.4117 34.6925 45.75 40.5585 45.75 48.25C45.75 60.1004 35.5029 69 24.75 69C18.2906 69 12.1498 66.9309 7.61816 62.5635C3.07688 58.1865 0.250001 51.5962 0.25 42.75ZM48.25 42.75C48.25 21.3787 66.2552 3.29012 91.9111 1.00391L92.8418 0.920898L93.8926 7.57617L92.9121 7.73633C77.1166 10.3296 69.2016 18.4542 68.5449 27.0752C74.6345 26.2758 80.7204 27.6792 85.3984 31.0645C90.4117 34.6925 93.75 40.5585 93.75 48.25C93.75 60.1004 83.5029 69 72.75 69C66.2906 69 60.1498 66.9309 55.6182 62.5635C51.0769 58.1865 48.25 51.5962 48.25 42.75ZM1.25781 43.5518C1.58855 59.9829 12.1034 67.7516 24.165 67.9941L24.75 68C34.8398 68 44.4454 59.7636 44.7432 48.7754L44.75 48.25C44.75 33.5 32 26 19.5 28.25C19.5 18.5 28 9.5 44.75 6.75L44 2C18.75 4.25 1.25 22 1.25 42.75L1.25781 43.5518ZM49.2578 43.5518C49.5885 59.9829 60.1034 67.7516 72.165 67.9941L72.75 68C82.8398 68 92.4454 59.7636 92.7432 48.7754L92.75 48.25C92.75 33.5 80 26 67.5 28.25C67.5 18.5 76 9.5 92.75 6.75L92 2C66.75 4.25 49.25 22 49.25 42.75L49.2578 43.5518Z" fill="#804940"/>
        <path d="M19.5 28.25C32 26 44.75 33.5 44.75 48.25C44.4454 59.7636 34.8398 68 24.75 68L24.165 67.9941C12.1034 67.7516 1.58855 59.9829 1.25781 43.5518L1.25 42.75C1.25 22 18.75 4.25 44 2L44.75 6.75C28 9.5 19.5 18.5 19.5 28.25Z" fill="white"/>
        <path d="M67.5 28.25C80 26 92.75 33.5 92.75 48.25C92.4454 59.7636 82.8398 68 72.75 68L72.165 67.9941C60.1034 67.7516 49.5885 59.9829 49.2578 43.5518L49.25 42.75C49.25 22 66.75 4.25 92 2L92.75 6.75C76 9.5 67.5 18.5 67.5 28.25Z" fill="white"/>
    </svg>
    <blockquote>{{{text}}}</blockquote>
    <div class="author">{{author}}</div>
</div>
